<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Station 1 - Station Details</title>
  <style>
    
    body {
      font-family: Arial, sans-serif;
      background-image: url('https://img.freepik.com/premium-photo/3d-fast-charge-neon-lithium-ion-battery-glowing-floor-with-lighting-symbol-digital-futuristic-flash-quick-recharging-power-source-energy-technology-concept-illustration-background_44651-607.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    .container {
      width: 80%;
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      
    }
    .card {
      background-color: #a4d1e2;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      /*width: calc(50% - 20px);  Two cards per row */
      border: 5px solid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
    }
    .detail {
      margin-bottom: 10px;
    }
    .detail-title {
      font-weight: bold;
    }
    .map-link {
      display: block;
      text-align: center;
      margin-top: 20px;
      text-decoration: none;
      color: #007bff;
    }
    .map-link:hover {
      text-decoration: underline;
    }
    h1{
      text-align: center;
      background-color:powderblue;
    }
  </style>
</head>
<body>
  <h1>Station-1</h1>
  
  <div class="container">
    <div class="card">
      <div class="detail">
        <span class="detail-title">Voltage Rating:</span>
        <span>240V</span>
      </div>
      <div class="detail">
        <span class="detail-title">Current Rating:</span>
        <span>32A</span>
      </div>
      <div class="detail">
        <span class="detail-title">Power Rating:</span>
        <span>7.68 kW</span>
      </div>
      <div class="detail">
        <span class="detail-title">Total Slots:</span>
        <span>10</span>
      </div>
      <div class="detail">
        <span class="detail-title">Price Rate:</span>
        <span>$0.25 per kWh</span>
      </div>
      <div class="detail">
        <span class="detail-title">Available Slots:</span>
        <span>5</span>
      </div>
      <div class="detail">
        <span class="detail-title">Address:</span>
        <span>Admin Office Chargin Point</span>
      </div>
      <div class="detail">
        <span class="detail-title">Contact Details:</span>
        <span>(123) 456-7890</span>
      </div>
      <div class="detail">
        <a href="/map%>">
        <span class="detail-title">Open in Map</span>
        </a>
      </div>
      <div class="detail">
        <a href="/slot%>">
        <span class="detail-title">Book this slot</span>
        </a>
      </div>
    </div>
  </div>
 
</body>
</html>
